.box{
    width: 50px;
    height: 50px;
    background-color: rgb(214, 12, 12);
    /* animation-name: clr;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    /* animation-delay: 2s; */
    /* animation-timing-function: cubic-bezier(0,-2.17, 1, 2.88)-out;  */
    animation: clr 3s infinite cubic-bezier(0,-2.17, 1, 2.88) ;
}
@keyframes clr{
    0%{
        background-color: red;
        width: 50px;
        height: 50px;
        transform: translateX(50%) translateY(50%);
    }
    25%{
        background-color: blue;
        width: 50px;
        height: 50px;
        transform: translateX(100%) translateY(100%);
    }
    50%{
        background-color: green;
        width: 100px;
        height: 100px;
        transform: translateX(150%) translateY(150%);
    }
    75%{
        background-color: yellow;
        width: 100px;
        height: 100px;
        transform: translateX(200%) translateY(200%);
    }
    100%{
        background-color: red;
        width: 300px;
        height: 300px;
    }
}
