table{
    width: 100%;
    border: 2px solid black;
    border-collapse: collapse;
}
th{
    text-align: center;
    margin: 0;
    border: 1px solid rgb(0, 0, 0);
}
td{
    text-align: center;
    margin: 0;
    border: 1px solid rgb(20, 20, 20);
}
.class1{
    background-color: yellow !important; 
}
.class2{
    background-color: red;
}