body {
    box-sizing: border-box;
    /* background: url(./guardiansofgalaxy.jpg);
    background-size: cover; */
    overflow: hidden;
   


}
#myVideo {
      position: fixed;
      right: 0;
      bottom: 0;
      min-width: 100%;
      min-height: 100%;
      
    }
main {
    
    height: 100vh;
    width: 100vw;
    margin: 0;
    


}

.nav-bar {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 11rem;
    padding-left: 2rem;
    background-color: #111111dd;
    transition: 0.25s;
    box-shadow: 15px 0px 110px 110px #111111dd;
    z-index: 3;

}

.nav-bar:hover {
    box-shadow: 30px 0px 130px 130px #111111dd;
}

.icons {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding-left: 1rem;
}

.nav-item {
    position: relative;
    color: white;
    font-size: 1.5rem;
    width: 100%;
    transition: 0.3s;
    padding-block: 1rem;
    text-align: center;
}

.icons:hover>.nav-item::after {
    color: white;
    transform: translateX(0%);
}

.nav-item::after {
    content: attr(name);
    position: absolute;
    padding-left: 2rem;
    color: transparent;
    text-align: left;
    transition: 0.5s;
    width: 14rem;
    height: 100%;
    transform: translateX(-25%);



}

.nav-item:hover {
    transform: scale(1.2);
    font-weight: bolder;
}

.logo {
    position: absolute;
    top: 1rem;
}

.scrl {

    position: absolute;
    height: 100vh;
    width: 100%;
    padding-top: 68vh;
    z-index: 0;
    overflow-x: scroll;
    bottom: 0px;
    

   
}

.scrl-item {
    height: 100%;
    float: left;
    padding-right: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    
}

.scrl-item img {
    
    
   border-radius: 5%;
    height: 28vh;
    width: 9vw;
}

.scroll {
    position: relative;
    height: 100%;
    width: 160vw;
    background: linear-gradient(transparent, #111111dd);
    margin-left: 11%;

}
.scroll2 {
    position: relative;
    height: 100%;
    width: 160vw;
    background-color: #111111dd ;
    margin-left: 11%;
}


.desc {
    position: absolute;
    top: 20%;
    left: 12%;
    width: 30%;
    font-weight: 500;
    color: white;
    
    
}

button:hover{
    transition: 0.3s;
    transform: scale(1.1);
}
.scrl-item:hover{
    
    transition: 0.3s;
    transform: scale(1.1);
}
